.header__navbar {
    padding: 5px;
    border: 1px  #a2a2a2;
      /* background-color: #f4f4f4; */
      /* -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75); */
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  }

  /* .navbar {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 0 0 2rem;
  }
   .navbar_logo {
      margin: 0;
      float: left;
    }
    
    .navbar_links {
      float: right;
      margin-top: 1rem;
    }
    a:not(last-child) {
        padding-right: 2rem;
      }
    a:hover {
        color: orangered;
      }
     li {
        display: inline;
      }

    .navbar_logo a, .navbar_links a {
      text-transform: uppercase;
    }
    .nav-dropdown {
        position: absolute;
        z-index: 1;
        /* Guarantees that the dropdown will display on top of any content. */
        /* box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        display: none;
      } */ 

       #drop{
          margin-left: 85%;
      }
    
  