button{
    width: 190px;
    margin-left: 10%;
    margin-top: 18%;
    padding: 6.5px;
    font-size: 10px;
}
label{
    color: lightgray;
}
h2{
    color: #4CAF50;
    text-align: center;
    font-size: 17px;
}
form{
     padding: 5%;
    margin-bottom: 2%;   
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    /* width: 120px; */
}
img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin-left: 25%;  
}

